{% extends 'base.html.twig' %}

{% block content %}

    {% for top in tops %}
        <div style="background-color: {{ top }}">dfdfd</div>
    {% endfor %}


{% endblock %}

{% block form_group_class %}

{% endblock %}

